* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2a6e8f;
    color: #333;
    margin: 10px;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin-bottom: 25px;
    font-size: 2rem;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 20px 0 10px;
}

.border {
    border: 8px solid black;
    padding: 10px;

}




